@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

  *{
    font-weight: 400;
  }
  
  html{
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
  }

  body{
    -webkit-font-smoothing:antialiased;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
  }

  #root{
    display: flex;
    flex-direction: column;
    min-height: 100vh
  }

  main{
    flex: 1;
  }
 
} 


@layer components{
  .pn-heading{
    @apply text-center text-lg font-normal relative mb-14 md:text-2xl md:font-medium after:absolute after:-bottom-4 after:left-2/4 after:-translate-x-2/4 after:h-[2px] after:w-1/6 after:bg-yellow-500
  }
}